<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-stock-item
    [stocks]='stocks'
    (toggleFavorite)="onToggleFavoriteParent($event)"
  ></app-stock-item>

  <div *ngFor='let stock of stocks; index as i'>
  <button
    (click)="changeStockObject(i)">Change Stock {{i}}</button>
  <button (click)="changeStockPriceParent(stock)">Change Price by 10 for {{i}}</button>
  </div>

  <hr>

  <app-stock-item [stocks]='stocks'>
    <button (click)="testMethod()">With Button 1</button>
  </app-stock-item>

  <hr>

  <app-stock-item [stocks]='stocks'>
    No buttons for you!!
  </app-stock-item>


</div>
